body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: Arial, sans-serif;
}

#wrapper {
  padding:56px 1% 0;
}
.header {
  font-size: 15px;
  position: fixed;
  left:0;
  top:0;
  width:98%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1%;
  padding: 5px;
  font-weight: bold;
  background: #ddd;
}
.header div {
  width:100%;
}
.header div:nth-child(1) {
  width:20%;
}
.header div:nth-child(3),
.header div:nth-child(4) {
  width:15%;
  text-align: center;
}
.item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 15px;
  border:1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  background: #eff3f5;
}
.item:hover {
  box-shadow:0 3px 5px rgba(0,0,0,0.1);
  background: #fff;
}